body {
  background: #f8f9fa;
  margin: 0;
  padding: 0;
}

/* Navbar IMMER über der Karte */
nav.navbar {
  position: relative;
  z-index: 10000;
}

/* Karte darf NICHT abgerundet sein, wenn sie fullscreen ist */
#map {
  border-radius: 0;
  overflow: hidden;
}

.navbar-brand img {
  height: 32px;
  width: auto;
  margin-right: 8px;
}
