{% extends "base.html" %} {% set fullscreen = true %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
{% endblock %} {% block content %}

<div id="category-filter-box" class="filter-box">
  <select id="category-select" class="pill-select">
    <option value="Alle">Alle Kategorien</option>
    <option value="Burg">Burg</option>
    <option value="Fels">Fels</option>
    <option value="Kirche">Kirche</option>
    <option value="Aussicht">Aussicht</option>
  </select>
</div>


<div id="map"></div>

<div id="images-data" data-images='{{ images | tojson | e }}'></div>

<!-- Leaflet MarkerCluster CSS -->
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css"
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css"
/>

<!-- Leaflet MarkerCluster JS -->
<script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>

<script src="{{ url_for('static', filename='js/map.js') }}"></script>

{% endblock %}
